@import "normalize.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Styrene A Web", "Helvetica Neue", Sans-Serif;
}

img {
  max-width: unset;
}
@font-face {
  font-family: "Styrene A Web";
  src: url("/fonts/StyreneAWeb-Light.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Styrene A Web";
  src: url("/fonts/StyreneAWeb-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Styrene A Web";
  src: url("/fonts/StyreneAWeb-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Styrene A Web";
  src: url("/fonts/StyreneAWeb-Bold.woff2") format("woff2");
  font-weight: 700;
}

@layer components {
  .nav-style {
    @apply flex justify-end items-start basis-auto flex-grow-0;
  }

  .nav-element {
    @apply whitespace-nowrap font-normal text-gray-100 opacity-80;
    font-size: 13px;
    padding: 20px 2vw 36px;
    letter-spacing: 1.2px;
    line-height: 1;
  }

  .header-quickstart {
    margin: auto 1vw;
    min-width: auto;
  }

  .header-search {
    margin: auto calc(6.25% - 43.1px) auto 1vw;
  }

  input[type="search"] {
    @apply text-white border border-white outline-none rounded-[15px] h-[30px] w-[120px] bg-transparent;
    min-width: auto;
    padding: 1px 38px 1px 9px;
    font-weight: 500;
    font-size: 8px;
    letter-spacing: 1.33px;
    line-height: 28px;
    text-transform: uppercase;
  }

  input[type="search"]::placeholder {
    @apply text-white;
  }

  .hero {
    @apply relative -z-10 bg-gray-900 overflow-hidden  min-h-[600px]  after:block after:absolute after:bg-fixed after:inset-0 after:bg-noise after:bg-repeat;
    clip-path: inset(0 0 0 0);
  }

  .hero > div:first-child {
    @apply overflow-hidden inset-0 absolute;
    container-type: size;
  }

}
