@import "normalize.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Styrene A Web", "Helvetica Neue", Sans-Serif;
}

@font-face {
  font-family: "Styrene A Web";
  src: url("/fonts/StyreneAWeb-Light.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Styrene A Web";
  src: url("/fonts/StyreneAWeb-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Styrene A Web";
  src: url("/fonts/StyreneAWeb-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Styrene A Web";
  src: url("/fonts/StyreneAWeb-Bold.woff2") format("woff2");
  font-weight: 700;
}
